include *.md
include LICENSE
include setup.py
include setup.cfg
include ChangeLog
include MANIFEST.in

include configure.ac configure *.h.in

include *.c *.py
include testdata/*
include python3_redirect/*

prune build
prune dist
prune config.*
prune *.pyc
