include *.md
include LICENSE*
include setup.py
include setup.cfg
include ChangeLog
include MANIFEST.in

include *.c *.h *.py
include testdata/*
include python3_redirect/*

prune build
prune dist
prune .hg*
